{% extends "base.html" %}
{% set active = 'collection' %}
{% set page_active = current_page %}

{% block title %}Dashboard{% endblock %}

{% block maincontent %}

  {% with message = get_flashed_messages(with_categories=true) %}
    {% if message %}
        {% for category,msg in message %}
          {% if category == 'success' %}
            <div class="alert alert-success text-center fw-bold py-2" role="alert">{{ msg }}</div>
          {% else %}
            <div class="alert alert-danger text-center fw-bold py-2" role="alert">{{ msg }}</div>
          {% endif %}
        {% endfor %}
    {% endif %}
  {% endwith %}

  {% if on_search %}
  <p class="fw-bold">You Have {{ global_total_query }} Collections, Found {{ total_query }} Book Tittle</p>
     <div class="row my-3">
       <div class="col-lg-6">
         <div class="container-sm">
           <form method="POST" class="d-flex" role="search">
              {{ form.hidden_tag() }}
              {{ form.search(class="form-control me-2",placeholder="Search Book Tittle") }}
              {{ form.submit(class="btn btn-outline-success",placeholder="Search")}}
           </form>
         </div>
       </div>
     </div>
  {% elif total_query and total_query > 10 %}
  <p class="fw-bold">You Have {{ global_total_query }} Collections</p>
     <div class="row my-3">
       <div class="col-lg-6">
         <div class="container-sm">
           <form method="POST" class="d-flex" role="search">
              {{ form.hidden_tag() }}
              {{ form.search(class="form-control me-2",placeholder="Search Book Tittle") }}
              {{ form.submit(class="btn btn-outline-success",placeholder="Search")}}
           </form>
         </div>
       </div>
     </div>
  {% elif total_query <= 10 %}
    <p class="fw-bold">You Have {{ global_total_query }} Collections</p>
  {% endif %}

  {% if result %}
  <table class="table table-success table-hover table-bordered border-primary">
    <thead>
      <tr class="text-center align-middle table-warning border border-2 border-dark border-opacity-75">
        <th scope="col">Tittle</th>
        <th scope="col" style="width: 90px;">Total Notes</th>
        <th scope="col" style="width:200px;">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for book_id,tittle,num_pages,pub_date,isbn,publisher,author,added_by in result %}
          <tr>
              <td>{{ tittle }}<br>
                <div class="collapse" id="detail{{ book_id }}">
                  <div class="card card-body py-0 bg-secondary bg-opacity-25">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td class="fw-bold" style="width:120px;">Total Pages</td>
                                <td>: {{ num_pages }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Published Date</td>
                                <td>: {{ pub_date }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">ISBN</td>
                                <td>: {{ isbn }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Publisher</td>
                                <td>: {{ publisher }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Auhor</td>
                                <td>: {{ author }}</td>
                            </tr>
                            {% if added_by != "Eko Putra Sentosa" %}
                                <tr>
                                    <td class="fw-bold fw-semibold fst-italic text-primary">Added by user</td>
                                    <td class="fw-bold fw-semibold fst-italic text-primary">: {{ added_by }}</td>
                                </tr>
                            {% endif %}
                    </table>
                  </div>
                </div>
            </td>
            <td>##tbd</td>
            <td class="text-center">
                <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#confirmation_add_note{{ book_id }}">Add Note</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#detail{{ book_id }}">Detail</button>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete_confirmation{{ book_id }}">Delete</button>
            </td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
  {% endif %}


  <nav aria-label="Collections Pagination">
    <ul class="pagination justify-content-center">
      {% if result %}
        <li class="page-item">
          <form method="POST" class="inline" action="{{ url_for('site.collection', i = page_active - 1) }}">
            <input type="hidden" name="page">
            <button type="submit" class="page-link {{ 'disabled' if current_page == 1 else '' }}">
              <span aria-hidden="true">&laquo;</span>
            </button>
          </form>
        </li>
        {% for page in range(1 if total_pages <= 3 else page_active if total_pages - page_active + 1 >= 3 
          else total_pages - 3 + 1,[page_active+3,total_pages+1]|min ) %}
          <li class="page-item">
            <form method="POST" class="inline" action="{{ url_for('site.collection', i = page) }}">
              <input type="hidden" name="page">
              <button type="submit" class="page-link {{ 'active' if current_page == page else '' }}">{{ page }}</button>
            </form>
          </li>
        {% endfor %}
        <li class="page-item">
          <form method="POST" class="inline" action="{{ url_for('site.collection', i = page_active + 1) }}">
            <input type="hidden" name="page">
            <button type="submit" class="page-link {{ 'disabled' if current_page == total_pages else '' }}">
              <span aria-hidden="true">&raquo;</span>
            </button>
          </form>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>

  <!-- Modal for Add Note Button Confirmation -->
  {% for book_id,tittle,num_pages,pub_date,isbn,publisher,author,added_by in result %}
  <div class="modal fade" id="confirmation_add_note{{ book_id }}" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title fw-bold">{{ tittle }}</h5>
        </div>
        <div class="modal-body fst-italic">
          Want to add Note to this Book?, Please confirm
        </div>
        <div class="modal-footer">
          <form action="#" method="POST">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-success" value="Add Note" />
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


  <!-- Modal for Delete Confirmation -->
  {% for book_id,tittle,num_pages,pub_date,isbn,publisher,author,added_by in result %}
  <div class="modal fade" id="delete_confirmation{{ book_id }}" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title fw-bold">{{ tittle }}</h5>
        </div>
        <div class="modal-body fst-italic">
            Please Confirm if you want to delete this book from Collections
        </div>
        <div class="modal-footer">
          <form action="{{ url_for('site.delete_collection',book_id = book_id) }}" method="POST">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-danger" value="Delete" />
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


{% endblock %}
