{% extends "base.html" %}
{% set active = 'collection' %}

{% block title %}Collection - Detail Book {% endblock %}

{% block maincontent %}

  {% for book_id,title,num_pages,pub_date,isbn,publisher,author,added_by,total_notes in book_result %}
    <div class="container">
      <!-- if user try to reload through enter the link -->
      <a role="button" class="btn btn-danger btn-sm" href="{{ url_for('site.collection') if path == None else path }}">Back</a>
      <h3>Detail Book: <span class="fw-semibold fst-italic">{{ title }}</span></h3>
        <div class="card card-body py-0 bg-secondary bg-opacity-25">
          <table class="table table-borderless">
              <tbody>
                  <tr>
                      <td class="fw-bold" style="width:150px;">Total Pages</td>
                      <td>: {{ num_pages }}</td>
                  </tr>
                  <tr>
                      <td class="fw-bold">Published Date</td>
                      <td>: {{ pub_date }}</td>
                  </tr>
                  <tr>
                      <td class="fw-bold">ISBN</td>
                      <td>: {{ isbn }}</td>
                  </tr>
                  <tr>
                      <td class="fw-bold">Publisher</td>
                      <td>: {{ publisher }}</td>
                  </tr>
                  <tr>
                      <td class="fw-bold">Auhor</td>
                      <td>: {{ author }}</td>
                  </tr>
                  {% if added_by != "Eko Putra Sentosa" %}
                      <tr>
                          <td class="fw-bold fw-semibold fst-italic text-primary">Added by user</td>
                          <td class="fw-bold fw-semibold fst-italic text-primary">: {{ added_by }}</td>
                      </tr>
                  {% endif %}
          </table>
        </div>
      </div>
    {% endfor %}


  <div class="container mt-3">
  <h5 class="mb-0 fw-semibolj">{{ total_note }} notes in this book</h5>
  <hr/>
  {% if note_result %}
  <table class="table table-hover table-borderless mt-0">
    <tbody>
      {% for note_id,book_title,num_page,note_title,description in note_result %}
      <tr>
        <td class="py-3 rounded">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-auto">
                  <h5>Note Title :
                  <span class="fw-bold">{{ note_title }}</span></h5>
                  <span class="fst-italic">on page</span>
                  <span class="fw-bold">{{ num_page }}</span>
              </div>
              <div class="col-auto text-end align-top p-0">
                  <button type="button" class="btn btn-sm btn-success d-inline p-1">Edit</button>
                  <button type="button" class="btn btn-sm btn-danger d-inline p-1" data-bs-toggle="modal" \
                   data-bs-target="#delete_confirmation{{ note_id }}">Delete</button>
              </div>
            </div>
          </div>
          <div class="container-fluid mt-2 p-3 rounded bg-primary bg-opacity-25">
              {{ description }}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  </div>

{% endblock %}
