{% extends "base.html" %}
{% set active = 'collection' %}

{% block title %}Collection - Detail Book {% endblock %}

{% block maincontent %}
<a role="button" class="btn btn-secondary btn-sm" href="{{ path }}">Back</a>
  {% for book_id,title,num_pages,pub_date,isbn,publisher,author,added_by,total_notes in result %}
    <div class="container">
      <h3>Detail Book: <span class="fw-semibold fst-italic">{{ title }}</span></h3>
        <div class="card card-body py-0 bg-secondary bg-opacity-25">
          <table class="table table-borderless">
              <tbody>
                  <tr>
                      <td class="fw-bold" style="width:150px;">Total Pages</td>
                      <td>: {{ num_pages }}</td>
                  </tr>
                  <tr>
                      <td class="fw-bold">Published Date</td>
                      <td>: {{ pub_date }}</td>
                  </tr>
                  <tr>
                      <td class="fw-bold">ISBN</td>
                      <td>: {{ isbn }}</td>
                  </tr>
                  <tr>
                      <td class="fw-bold">Publisher</td>
                      <td>: {{ publisher }}</td>
                  </tr>
                  <tr>
                      <td class="fw-bold">Auhor</td>
                      <td>: {{ author }}</td>
                  </tr>
                  {% if added_by != "Eko Putra Sentosa" %}
                      <tr>
                          <td class="fw-bold fw-semibold fst-italic text-primary">Added by user</td>
                          <td class="fw-bold fw-semibold fst-italic text-primary">: {{ added_by }}</td>
                      </tr>
                  {% endif %}
          </table>
        </div>
      </div>
    {% endfor %}


{% endblock %}
