{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="row align-items-center">
      <!-- Welcome Panel -->
      <div class="col-md-7 my-2">
        <p class="text-md-center fs-1 fw-bolder">
          NEVER LOSE YOUR NOTE ANYMORE
        </p>
        <p class="text-md-center fs-1 fw-bolder">
          Always tracking your note in spesific page
        </p>
        <p class="text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maiores rerum provident aliquid alias sapiente quod asperiores doloremque impedit voluptas quaerat, nam facilis adipisci saepe. Assumenda ea nesciunt labore animi?
        </p>
      </div>
      <!-- End Welcome Panel -->

      <!-- Login Panel -->
      <div class="col-md-5 my-2">
        <div class="card mt-3" style="border-radius: 15px;">
            <div class="card-body p-4">
              <h2 class="text-uppercase text-center mb-4">Login account</h2>

              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category,error in messages %}
                      {% if category == 'success' %}
                        <div class="alert alert-success" role="alert">{{ error }}</div>
                      {% else %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}

              <form method="POST"> 
                {{ form.hidden_tag() }}
                <div class="form-outline mb-4">
                  {{ form.email(class="form-control",placeholder="Email Address") }}
                </div>
                <div class="form-outline mb-4">
                  {{ form.password(class="form-control",placeholder="Password") }}
                </div>
                <div class="d-flex justify-content-center mb-4">
                  {{ form.submit(class="btn btn-warning btn-block btn-md fw-bold",placeholder="Login") }}
                </div>
                <div class="text-center">
                    <p class="text-center text-muted mt-3 mb-0">Not a member? <a href="{{ url_for('site.register_page') }}" class="fw-bold text-body"><u>Register</u></a></p>
                </div>
              </form>

            </div>
          </div>
      </div>
      <!-- End Login Panel -->
    </div>
</div>

{% endblock %}
