{% extends "base.html" %}
{% set active = 'notes' %}

{% block title %}Note Collection{% endblock %}

{% block maincontent %}


  {% with message = get_flashed_messages(with_categories=true) %}
    {% if message %}
        {% for category,msg in message %}
          {% if category == 'success' %}
            <div class="alert alert-success text-center fw-bold py-2" role="alert">{{ msg }}</div>
          {% else %}
            <div class="alert alert-danger text-center fw-bold py-2" role="alert">{{ msg }}</div>
          {% endif %}
        {% endfor %}
    {% endif %}
  {% endwith %}

  You Have {{ total_note }} Notes <br>
  <hr/>
  {% if result %}
  <table class="table table-hover table-borderless">
    <tbody>
      {% for book_title,num_page,note_title,description in result %}
      <tr>
        <td class="py-3 rounded">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-auto">
                  <h5>Note Title :
                  <span class="fw-bold">{{ note_title }}</span></h5>
                  <span class="fst-italic">from</span>
                  <span class="fw-bold">{{ book_title }}</span>,
                  <span class="fst-italic">page</span>
                  <span class="fw-bold">{{ num_page }}</span>
              </div>
              <div class="col-auto text-end align-top p-0">
                  <button type="button" class="btn btn-sm btn-success d-inline p-1">Edit</button>
                  <button type="button" class="btn btn-sm btn-danger d-inline p-1">Delete</button>
              </div>
            </div>
          </div>
          <div class="container-fluid mt-2 p-3 rounded bg-primary bg-opacity-25">
              {{ description }}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

{% endblock %}
