{% extends "base.html" %}
{% set active = 'notes' %}

{% block title %}Note Collection{% endblock %}

{% block maincontent %}


  {% with message = get_flashed_messages(with_categories=true) %}
    {% if message %}
        {% for category,msg in message %}
          {% if category == 'success' %}
            <div class="alert alert-success text-center fw-bold py-2" role="alert">{{ msg }}</div>
          {% else %}
            <div class="alert alert-danger text-center fw-bold py-2" role="alert">{{ msg }}</div>
          {% endif %}
        {% endfor %}
    {% endif %}
  {% endwith %}

  You Have {{ total_note }} Notes <br>
  <hr/>
  {% if result %}
  <table class="table table-hover table-borderless">
    <tbody>
      {% for note_id,book_title,num_page,note_title,description in result %}
      <tr>
        <td class="py-3 rounded">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-auto">
                  <h5>Note Title :
                  <span class="fw-bold">{{ note_title }}</span></h5>
                  <span class="fst-italic">from</span>
                  <span class="fw-bold">{{ book_title }}</span>,
                  <span class="fst-italic">page</span>
                  <span class="fw-bold">{{ num_page }}</span>
              </div>
              <div class="col-auto text-end align-top p-0">
                  <button type="button" class="btn btn-sm btn-success d-inline p-1">Edit</button>
                  <button type="button" class="btn btn-sm btn-danger d-inline p-1" data-bs-toggle="modal" \
                   data-bs-target="#delete_confirmation{{ note_id }}">Delete</button>
              </div>
            </div>
          </div>
          <div class="container-fluid mt-2 p-3 rounded bg-primary bg-opacity-25">
              {{ description }}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <!-- Modal for Delete Confirmation -->
  {% for note_id,book_title,num_page,note_title,description in result %}
  <div class="modal fade" id="delete_confirmation{{ note_id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title fw-bold">{{ note_title }}</h5>
        </div>
        <div class="modal-body fst-italic">
            Please Confirm if you want to delete this Note
        </div>
        <div class="modal-footer">
            <form action="{{ url_for('site.delete_note',note_id = note_id) }}" method="POST">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-danger" value="Delete" />
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


{% endblock %}
