{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container-fluid mt-5 bg-info">
    <div class="row">
<!-- SideBar -->
        <div class="col-2 pt-3 text-light bg-success bg-opacity-75" style="min-height: 86vh;">
                <div class="container-fluid" style="width:200px;">
                  <ul class="nav flex-column" style="width: 180px;">
                    <li class="nav-item text-center my-2 btn btn-sm rounded-2"><a class="nav-link active text-black link-light fs-6" aria-current="page" href="#">Link 1</a></li>
                    <li class="nav-item text-center my-2 btn btn-sm rounded-2"><a class="nav-link text-black link-light fs-6" href="#">Link 2</a></li>
                    <li class="nav-item text-center my-2 btn btn-sm rounded-2"><a class="nav-link text-black link-light fs-6" href="#">Link 3</a></li>
                  </ul>
                </div>
            </div>
<!-- End SideBar -->

<!-- Main Content -->
        <div class="col pt-3 bg-light">

          <h1>{{ msg }}</h1>
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        

        </div>
<!-- End  Main Content -->
    </div>
</div>

{% endblock %}