{% extends 'base.html' %}

{% block content %}

<body class="bg-success bg-opacity-75">
  <section class="mt-4"> 
    <div class="mask d-flex align-items-center h-100">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card mt-5" style="border-radius: 15px;">
              <div class="card-body p-4">
                <h2 class="text-uppercase text-center mb-4">Login account</h2>

                <form>
                    <!-- Email input -->
                    <div class="form-outline mb-3">
                      <input type="email" id="form2Example1" class="form-control" />
                      <label class="form-label" for="form2Example1">Email address</label>
                    </div>
                  
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                      <input type="password" id="form2Example2" class="form-control" />
                      <label class="form-label" for="form2Example2">Password</label>
                    </div>
                  
                    <!-- Submit button -->
                    <div class="d-flex justify-content-center mb-4">
                        <button type="button" class="btn btn-warning btn-block btn-md fw-bold">Sign in</button>
                    </div>
                  
                    <!-- Register buttons -->
                    <div class="text-center">
                        <p class="text-center text-muted mt-3 mb-0">Not a member? <a href="{{ url_for('register_page') }}" class="fw-bold text-body"><u>Register</u></a></p>
                    </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

{% endblock %}